<!DOCTYPE html>
<html>
<head>

    <% include ../base/meta %>
    <title>权限管理</title>
    <script src="/script/pvl/PvlPub.js" type="text/javascript"></script>
</head>
<body>

<div class="tt-tmp" args="dlgId='#pvlDlgId'">
    <div class="tt-tmp tt-fire" target=".tt-qry" args="*" data-options="height : 400" data-options="height : 400">
        <% include frags/pvl_qry %>
    </div>
    <% include frags/pvl_dlg %>
</div>
</body>
</html>