<!DOCTYPE html>
<html>
<head>
    <% include ../../base/meta %>
    <script type="text/javascript" src="/script/demo/DemoPub.js"></script>
</head>
<body>
<div class="tt-tmp" args="dlg='#curdDlg'">
    <div class="tt-tmp tt-fire" args="*" target=".tt-tbl" data-options="height : 400">
        <% include frags/Curd_Tbl %>
    </div>
    <% include frags/Curd_Dlg %>
</div>
</body>
</html>