<!DOCTYPE html>
<html>
<head>

    <% include ../../base/meta %>
</head>
<body>
<form method="post" action="/mm/gameCtrl/play">
    <div><label>gameUrl:</label><input name="gameUrl" value="http://localhost:8080/CMCC/"></div>
    <div><label>validUrl:</label><input name="validUrl" value="http://localhost:8080/CMCC/gamePortal/receiveSMSTS.jsp"></div>
    <div><label>userId:</label><input name="userId" value="1268484893"></div>
    <div><label>cpId:</label><input name="cpId" value="741420"></div>
    <div><label>cpServiceId:</label><input name="cpServiceId" value="642020077410"></div>
    <div><label>channelId:</label><input name="channelId" value="40204000"></div>
    <div><label>key:</label><input name="key" value="JS000e01477002024638234899731"></div>

    <button type="submit">Submit</button>
</form>
</body>
</html>